/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/open-sans-v26-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v26-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-500 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/open-sans-v26-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v26-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* oswald-regular - latin */ 
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/oswald-v40-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oswald-v40-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* oswald-500 - latin */
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/oswald-v40-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oswald-v40-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* oswald-300 - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/oswald-v40-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oswald-v40-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Oswald';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #252525;
}

.wrapper{
        margin-left: 312px;
        margin-right: 312px;
}


/* Header styles start */

.header{ 
    top: 0;
    left: 0;
    right: 0;
    width: 100%
}
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: right;
    padding-top: 79px;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
}
.header__item{
    margin-right: 58.4px;
}
.header__item:last-child{
    margin-right: 0px;
}
.header__link{
    color: white;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1.94px;
    text-decoration: none;
}
.header__longline{
    width: 54.91px;
    height: 2px;
    left: 0px;
    top: 19px;
    background: #4CAF50;
}
.header__shortline{
    width: 17.97px;
    height: 2px;
    left: 26.96px;
    top: 19px;
    background: #4CAF50;
}
.picture{
    background: url(../img/black.jpeg) no-repeat;
    margin: 0 auto;
    max-width: 1800px;
    min-width: 1800px;
    position: absolute;
    width: 1800px;
    height: 904px;
    left: 50px;
    top: 48px;
}
.header__bigtext{
    position: absolute;
    width: 1171.05px;
    height: 98px;
    left: 310.48px;
    top: 383px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    letter-spacing: 4.608px;
    color: #FFFFFF;
}
.header__smalltext{
    position: absolute;
    width: 1171.05px;
    height: 27px;
    left: 316.04px;
    top: 505.5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1.28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.header__bottom{
    position: absolute;
    width: 42.93px;
    height: 49px;
    left: 845px;
    top: 836px;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: 2.304px;
    color: #FFFFFF;
}
.digits {
    display: flex;
    flex: 0 0 auto;
    height: 49px;
    align-self: center;
    /* margin-bottom: 19px; */
}

.digits :not(:last-child) {
    padding-right: 9px;
}

.one_digit {
    font-family: 'Oswald', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1.15px;
    color: #777;
}

.one_digit :hover {
    font-size: 36px;
    color: white;
    line-height: 10px;
    letter-spacing: 2.3px;
    cursor: pointer;
    text-decoration: line-through;
    text-decoration-style: solid;
    text-decoration-color: #4CAF50;
    transition: all 0.3s ease;
}


/* Header styles end */

.first__line{
    margin-top: 1000px;
    margin-left: 190px;
}

/* First line (two pictures with a green block) start */
.line__text{
    position: absolute;
    width: 20px;
    height: 2px;
    left: 0px;
    top: 14px;
    background: #353535;
}
.screen_sqwd {
    background: white;
    display: flex;
    flex: 1900px;
    flex-direction: column;
    max-width: 1900px;
    max-height: 825px;
    padding: 149px 353px 117px 105px;
}

.guy {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    min-width: 590px;
    min-height: 391px;
    background: url(../img/zhivopisnyi-vodopad-v-islandii.jpg.png) no-repeat;
    background-color: white;
    background-position: right;
    z-index: 2;
}

.standing {
    position: relative;
    top: -215px;
    left: 300px;
    display: flex;
    flex-direction: column;
    align-self: center;
    min-width: 506px;
    min-height: 391px;
    background: url(../img/standing.png) no-repeat;
    background-color: white;
    background-position: left;
    z-index: 0;
}

.text_we-are {
    display: inline;
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 2.3px;
    color: #333;
    text-transform: uppercase;
    padding-top: 82px;
    padding-left: 80px;
}

.text_the-sqwd {
    display: inline;
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 42px;
    line-height: 57px;
    letter-spacing: 2.69px;
    color: #504E4E;
    text-transform: uppercase;
    padding-top: 4px;
    padding-left: 83px;
    padding-bottom: 32px;
}

.text_quote {
    display: inline;
    min-width: 281px;
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1.26px;
    color: #5B5858;
}

.text_quote-for-guy {
    margin-left: 140px;
}

.text_quote-for-standing {
    margin-left: 288px;
    margin-top: 236px;
}

.block_green-translucent {
    width: 309px;
    height: 418px;
    margin-top: 71px;
    margin-left: 222px;
    position: absolute;
    align-self: center;
    background: #4CAF50;
    opacity: 0.8;
    z-index: 1;
}

/* First line (two pictures with a green block) end */

/* Second line (OUR SERVICES) start */
/* .second__line{
    margin-top: 1906px;
    margin-left: 365px;
} */
.our__services{
    position: absolute;
    width: 281px;
    height: 71px;
    left: 0px;
    top: -6px;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.072px;
    color: #252525;
    margin-top: 1906px;
    margin-left: 365px;
}

  
.little__line{
    position: absolute;
    width: 45px;
    height: 2px;
    left: 0px;
    top: 72px;
    background: #252525;
}
.three__blocks{
    position: absolute;
    width: 373px;
    height: 260px;
    margin-top: 250px;
    margin-left: 365px;
    background: #FFFFFF;
}
.three__blocks:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 3px; /* Высота зачеркивающей линии */
    background:#70BF73; /* Цвет зачеркивающей линии */
    top: 100%;
    animation: out 0s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
div.crossed3:hover .three__blocks:before {
    animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
 }
  /* Анимация */
@keyframes in {
    0% {
    width: 0;
    left: 0;
    right: auto;
    }
    100% {
    left: 0;
    right: auto;
    width: 100%;
    }
}
@keyframes out {
    0% {
    width: 100%;
    left: auto;
    right: 0;
    }
    100% {
    width: 0;
    left: auto;
    right: 0;
    }
}
@keyframes show {
    0% {
    opacity: 0;
    transform: translateY(-10px);
    }
    100% {
    opacity: 1;
    transform: translateY(0);
    }
}
.header__threeblocks{
    position: absolute;
    width: 85px;
    height: 30px;
    left: 0px;
    top: -3px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    margin-top: 50px;
    margin-left: 44px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    color: #252525;
}

.header__threeblocks__line{
    position: absolute;
    width: 35px;
    height: 2px;
    left: 0px;
    top: 42px;
    background: #252525;
}
.text__threeblocks{
    position: absolute;
    width: 281px;
    height: 75px;
    left: 43px;
    top: 116px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    /* or 208% */
    display: flex;
    align-items: center;
    letter-spacing: 1.008px;
    color: #777777;
}
.read__more{
    position: absolute;
    width: 80px;
    height: 15px;
    left: 44px;
    top: 210px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */
    letter-spacing: 0.64px;
    text-transform: uppercase;
    color: #252525;
    mix-blend-mode: normal;
}
.round__picture{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 275px;
    top: 48px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #DBDBDB;
    border-radius: 100%;
}

/* Second line (OUR SERVICES) end */

/*  Third line (LATEST WORKS) start */
.third__line__list{
    display: flex;
    flex-wrap: wrap;
}
.third__line__item{
    margin-right: 58.4px;
}
.third__line:last-child{
    margin-right: 0px;
}
.third__line__link{
    cursor: pointer;
    width: 1000px;
    height: 30px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 0.832px;
    color: #252525;
    text-decoration: none;
    transition: font-weight 10sms ease-in-out;
}
.third__line__link:hover {
    font-weight: 900;
}
.image__right{
    position: absolute;
    width: 727px;
    height: 482px;
    left: -140px;
    top: -18px;
    mix-blend-mode: normal;
    margin-left: 1250px;
}
.image__right__mask{
    position: absolute;
    width: 455px;
    height: 444px;
    left: 0px;
    top: 0px;
    background: #F3F4F6;
    z-index: -1;
}
.big__text__right{
    position: absolute;
    width: 450px;
    height: 142px;
    left: 0px;
    top: 262px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3.072px;
    color: #252525;
}
.big__text__right:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 3px; /* Высота зачеркивающей линии */
    background:#70BF73;; /* Цвет зачеркивающей линии */
    top: 75%;
    animation: out 0s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
div.crossed:hover .big__text__right:before {
    animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
 }
.little__header__right{
    position: absolute;
    width: 116px;
    height: 25px;
    left: 343px;
    top: 468px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    letter-spacing: 1.152px;
    color: #252525;
    margin-left: -125px;
}
.little__text__right{
    position: absolute;
    width: 336px;
    height: 46px;
    left: 123px;
    top: 510px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 23px;
    /* or 177% */
    letter-spacing: 0.832px;
    color: #C2C2C2;
    text-align: right;
    margin-left: -118px;
}
.image__left{
    position: absolute;
    width: 679px;
    height: 453px;
    left: -124px;
    top: -3px;
    mix-blend-mode: normal;
    margin-left: 490px;
}
.image__left__mask{
    position: absolute;
    width: 455px;
    height: 444px;
    left: 0px;
    top: 0px;
    background: #F3F4F6;
    z-index: -1;
}
.big__text__left{
    position: absolute;
    width: 250px;
    height: 142px;
    left: 370px;
    top: 268px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3.072px;
    color: #252525;
}
.big__text__left:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 3px; /* Высота зачеркивающей линии */
    background:#70BF73; /* Цвет зачеркивающей линии */
    top: 23%;
    animation: out 0s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
div.crossed1:hover .big__text__left:before {
    animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
 }
.little__header__left{
    position: absolute;
    width: 116px;
    height: 25px;
    left: 174px;
    top: 467px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    letter-spacing: 1.152px;
    color: #252525;
}
.little__text__left{
    position: absolute;
    width: 336px;
    height: 46px;
    left: 174px;
    top: 512px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 23px;
    /* or 177% */
    align-items: left;
    letter-spacing: 0.832px;
    color: #C2C2C2;
}
.read__more__left{
    position: absolute;
    width: 81px;
    height: 18px;
    left: 174px;
    top: 578px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 0.832px;
}
.read__more__left:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px; /* Высота зачеркивающей линии */
    background: #70BF73; /* Цвет зачеркивающей линии */
    top: 43%;
    animation: out 0s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
  div.crossed4:hover .read__more__left:before {
    animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
.little__view__more{
    position: absolute;
    width: 100px;
    height: 19px;
    left: 325px;
    top: 920px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 2px;
    color: #252525;
    text-decoration: none;
}
/* Third line (LATEST WORKS) ends */

/* Forth line (THE CREW) starts */
.crew__image{
    position: absolute;
    width: 617px;
    height: 411px;
    mix-blend-mode: normal;
    left: 365px;
    top: 4730px;
}

.crew__mask__mini{
    position: absolute;
    width: 370px;
    height: 55px;
    left: 365px;
    top: 5073px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.crew__mask__mini__text{
    position: absolute;
    width: 150px;
    height: 27px;
    left: 144px;
    top: 13px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    letter-spacing: 1.152px;
    color: #252525;

}
.crew__mask__max{
    position: absolute;
    width: 370px;
    height: 155.24px;
    left: 365px;
    top: 4975px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.92;
}

.crew__mask__max__header{
    position: absolute;
    width: 119px;
    height: 25px;
    left: 126px;
    top: 20.1px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1.152px;
    color: #252525;
}

.crew__line{
    position: absolute;
    width: 45px;
    height: 2px;
    left: 163px;
    top: 54px;
    background: #252525;
}

.crew__creative__director{
    position: absolute;
    width: 200px;
    height: 27px;
    left: 125px;
    top: 62px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    letter-spacing: 1.152px;
    color: #252525;
}
.crew__text{
    position: absolute;
    width: 500px;
    height: 25px;
    left: 90px;
    top: 100px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    /* identical to box height, or 208% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.008px;
    color: #777777;
}

/* Forth line (THE CREW) ends */

/* Footer starts */
.footer__text{
    position: absolute;
    width: 735px;
    height: 93px;
    left: 582px;
    top: 5350px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 31px;
    /* or 221% */
    letter-spacing: 0.896px;
    color: #373737;
    text-align: center;
    opacity: 0.7;
}
.little__quotes{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 939px;
    top: 5500px;
    mix-blend-mode: normal;
}
.david__james{
    position: absolute;
    width: 300px;
    height: 27px;
    left: 840.5px;
    top: 5565px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    letter-spacing: 1.152px;
    color: #373737;
}
.little__star{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 870px;
    top: 5620px;
}
.line{
    position: absolute;
    width: 511px;
    height: 1px;
    left: 683px;
    top: 5690px;
    background: #D8D8D8;
    mix-blend-mode: normal;
}
.container__footer{
    position: absolute;
    width: 880px;
    height: 300px;
    left: 49px;
    top: 5805px;;
}
.container__footer__image{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 434px;
    top: 90px;
}
.container__footer__header{
    position: absolute;
    width: 400px;
    height: 36px;
    left: 320px;
    top: 150px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 2.66667px;
    color: #373737;
}
.container__footer__text{
    position: absolute;
    width: 500px;
    height: 19px;
    left: 312px;
    top: 210px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1.55556px;
    color: #373737;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.container__footer__arrow{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 447px;
    top: 250px;
    mix-blend-mode: normal;
}
.black__block{
    position: absolute;
    width: 1779px;
    height: 339px;
    left: 50px;
    top: 6105px;
    background: #2E2E2E;
}
.black__block__text{
    position: absolute;
    width: 259px;
    height: 17px;
    left: 772px;
    top: 142px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.832px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.black__block__image{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 832px;
    top: 225px;
    mix-blend-mode: normal;
}
.very__black__block{
    position: absolute;
    width: 1779px;
    height: 58px;
    left: 50px;
    top: 6443px;
    background: #252525;
}
.very__black__block__text{
    position: absolute;
    width: 286px;
    height: 17px;
    left: 758px;
    top: 21px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.832px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}