h1 {
    color:black;
    font-size: 300%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    border-style: solid;
}
p {
    text-align: center;
    border-top-style:solid; 
    border-image-slice: 300%;
    background-color: #08eaf1;
}
